:root {
  /*
  TODO add font classes
  */
  @each $key, $hex in $color {
    --#{$key}: #{$hex};
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
*::before,
*::after {
  display: block;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: inherit;
  display: block;
  object-fit: cover;
  object-position: center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: unset;
  &:focus-visible {
    /* remove default focus style */
    outline: none;
  }
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  color: var(--black);
  overflow-x: hidden;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.lock-scroll {
    overflow: hidden;
  }
}

.hideMobile,
.hideMobile > * {
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.hideDesktop,
.hideDesktop > * {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

.mobileContainer {
  margin: 0 auto;
  max-width: 528px;
}

.container {
  max-width: 1448px;
  padding: 0 24px;
  margin: 0 auto;
}

.main-bg {
  background: var(--grey-bg);
}

.main-container {
  min-height: 80vh;
  overflow-x: hidden;
}

.swiper-slide {
  filter: drop-shadow(2px 4px 6px #00000033);
}
